/* styles.css */

.form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .valid-feedback {
    color: green;
    margin-top: 5px;
  }
  
  .invalid-feedback {
    color: red;
    margin-top: 5px;
  }
  
  .form-check-input {
    margin-top: 5px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }
  body {
    background-image: url("paper.gif");
    background-color: #cccccc;
   }